.gallery {
    display: flex;
    flex-wrap: wrap;     /* Hết chỗ thì xuống dòng */
    gap: 15px;           /* Khoảng cách giữa các ảnh */
    justify-content: center;
}
.item {
    width: 200px;
    height: 150px;
    background-color: coral;
    display: flex;       /* Flex lồng Flex: để căn chữ ra giữa hộp */
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}
body{
    background-color: aliceblue;
    color: black;
}
h1{
    color: aqua;
}