h1{
    /* đổi màu chữ */
     color: rgb(80, 80, 173);
     /*đổi font chữ  */
     font-style: italic;
     /* Căn hàng */
    text-align: center;
    /* Đổi cở chữ */
    font-size: 50px;
    text-transform:capitalize;
    font-family: Arial, Helvetica, sans-serif;
}